nav .container-fluid{
    padding-right: 1vw;
}
.navbar{
    --bs-navbar-padding-x:unset;
    --bs-navbar-padding-y:unset;
    --bs-navbar-brand-padding-x: unset;
    --bs-navbar-brand-padding-y: unset;
    padding: 0%;
}
.navbar img{
    margin: 0%;
    /*height: 20vh;*/
    width: 50vw;
}
.navbar-toggler, .btn{
    background-color: var(--gr-bg);
}
nav .container-fluid{
    --bs-gutter-x: unset;
    --bs-gutter-y: unset;
}
.nav-link, .dropdown-item, .nav-link:link, .nav-link:visited{
    color: var(--wh-bg);
}
.nav-link:hover, .dropdown-item:hover{
    color: var(--col);
    background-color: var(--wh-bg);
}
.form-control{
    padding: 0;
}
input[type="search"], input[type="text"], input[type="email"], input[type="number"], input[type="file"], input[type="password"], input[type="tel"], textarea{
    background-color: var(--gr-bg);
    border-radius: 0.8rem;
}
input[type="search"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="file"]:focus, [type="password"]:focus, input[type="tel"]:focus, textarea:focus{
    background-color: var(--wh-bg);
}
.btn:hover, input[type="submit"]:hover, figure button:hover, button.pagination:hover, article button:hover{
    color: var(--col);
    background-color: var(--wh-bg);
}




/*      RWD      */
@media all and (min-width:692px){
    .navbar img{
        width: 40vw;
        /*height: 30vh;*/
    }

}
@media all and (min-width:992px){
    .navbar img{
        width: 35vw;
        /*height: 40vh;*/
    }
}